body {
  font-family: "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.cont1 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 440px;
  background-color: rgb(0, 0, 0);
  margin: -8px;
  padding: 8px;
  color: white;
}

.cont1 > div {
  font-size: 16px;
}

.fbyou {
  display: flex;
  gap: 20px;
}

.fa-facebook,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #4267b2;
  transition: 0.3s ease-in-out;
}

.fa-youtube:hover {
  color: #ff0000;
  transition: 0.3s ease-in-out;
}

.fa-instagram:hover {
  color: #cd486b;
  transition: 0.3s ease-in-out;
}

/* conrtainer 2 */

.homepage > h2 {
  background-color: rgb(234, 234, 234);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 9px 40px;
}

.homepage {
  position: absolute;
  margin: -40px 0px 0px -310px;
}

.homepage:hover {
  margin-left: -230px;
  transition: 1s;
}

.cont2 {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.saloon {
  margin-top: -20px;
}

.c1d1 {
  display: flex;
}

.name {
  display: flex;
  margin-top: -20px;
}

.c1d3 {
  display: flex;
  gap: 60px;
  align-items: center;
}

.nav {
  font-size: 18px;
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin-bottom: -3px;
  background-color: #000000;
  background: linear-gradient(120deg, transparent, #000000, transparent);
  transform: scaleX(0);
  transition: 0.4s;
}

.nav:hover::after {
  transform: scaleX(1);
}

/* special Offers */

.cont6 {
  margin: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: rgb(234, 234, 234);
  padding: 40px;
}

.c6d1 {
  font-size: 50px;
  font-weight: 600;
  color: rgb(69, 69, 69);
}

.c6img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.c6h {
  color: rgb(69, 69, 69);
}

.c6p {
  width: 390px;
  color: rgb(63, 63, 63);
}

.contlast {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.rights {
  margin-top: 10px;
  color: rgb(85, 85, 85);
  display: flex;
  padding: 0px 185px;
  justify-content: center;
  justify-content: space-between;
}
